* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px red; */
  font-size: 16px;
  font-family: inter, "sans-serif";
}
.body {
  width: 100%;
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pesquisar {
  width: 559px;
  height: 60px;
  padding-left: 24px;
  border-radius: 8px;
  border: none;
  background-color: rgba(71, 71, 71, 0.1);
}
#pesquisar:focus {
  outline: none;
  border: none;
}

.container {
  width: 1440px;
  height: 129px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
nav {
  margin-left: 35px;
}
ul {
  display: flex;
  list-style-type: none;
  text-decoration: underline;
}
li {
  padding-right: 40px;
}

.Cadastro {
  font-size: large;
  height: 28px;
  color: #474747;
}
.img-cart {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/src/assets/mini-cart.svg");
  width: 30px;
  height: 30px;
}
.Entrar {
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 114px;
  height: 40px;
  background: #c92071;
  color: #ffffff;
  text-decoration: none;
}
.Entrar:hover {
  transition: 0.5s;
  background: #991956;
}
