* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: inter, "sans-serif";
}
.body {
  justify-content: center;
  align-items: center;
  height: 192px;
  display: flex;
}

#pesquisar {
  width: 559px;
  height: 60px;
  padding-left: 24px;
  border-radius: 8px;
  border: none;
  background-color: rgba(71, 71, 71, 0.1);
}
#pesquisar:focus {
  outline: none;
}

.container {
  min-width: 1440px;
  height: 192px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navigation ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
ul a {
  display: flex;
  margin-right: 20px;
  text-decoration: none;
  color: #474747;
}
.cadastro {
  font-size: large;
  height: 28px;
  color: #474747;
}
.img-cart,
.img-cart img {
  width: 35px;
  height: 35px;
}

.user-actions {
  width: 400px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.img-cart:hover {
  cursor: pointer;
}
.entrar {
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 114px;
  height: 40px;
  background: #c92071;
  color: #ffffff;
  text-decoration: none;
}
.entrar:hover {
  transition: 0.5s;
  background: #991956;
}
.navigation a.active {
  color: #c92071;
  text-decoration: underline;
}

.navigation a.active::after {
  content: "";
  background-color: #c92071;
}
