* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  margin: 20px 0;
}
.section-title {
  font-size: 24px;
  font-weight: bold;
}

.section-title.left {
  margin-left: 60px;
}

.section-title.center {
  text-align: center;
}

.section-content {
  margin-top: 15px;
}
