.home-page {
  background: #f9f8fe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/*collections-list*/
.home-page .collections-list .product-card {
  margin: 0;
  padding: 0;
  position: relative;
  width: 405px;
  height: 251px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.home-page .collections-list .product-card .product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(0deg);
}
.home-page .collections-list .product-image-bcg {
  width: 100%;
  height: 100%;
}
.p {
  color: #c92071;
  font-size: 14px;
}
.containers {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 100px;
  flex-direction: row;
}
.img-oferta img {
  width: 573px;
  height: 330px;
}
.oferta-especial {
  /* border: solid 1px red; */
  width: 589px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.oferta-especial h1 {
  font-size: 48px;
}
.p-desc {
  color: #474747;
  font-size: 16px;
}
.oferta-especial button {
  background-color: #c92071;
  width: 200px;
  height: 40px;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  transition: 1s;
}
.oferta-especial button:hover {
  background-color: #991956;
}
.home-page .collections-list .product-card .product-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  pointer-events: none;
}

.home-page .collections-list .product-card .product-info > *:not(.button-link) {
  display: none;
}

.home-page .collections-list .product-card .button-link {
  margin: 10px;
  width: 153px;
  height: 48px;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: #c92071;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: 1s ease;
}

.home-page .collections-list .product-card .button-link:hover {
  background-color: #0056b3;
  color: #f5f5f5;
}
.home-page .collections-list .product-card:hover {
  transform: scale(1.05);
}

.promotions {
  align-items: center;
  justify-content: center;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}
.promotions span {
  margin-top: 10px;
}
.category-icon {
  width: 104px;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.bcg {
  width: 104px;
  height: 104px;
  background-color: #ffffff;
  border-radius: 100%;
}
.img-category {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 104px;
  display: flex;
  border-radius: 100%;
  opacity: 0.5;
  cursor: pointer;
  transition: 1s;
}
.img-category:hover {
  transform: scale(1.05);
  opacity: 1;
}
.product-container {
  display: flex;
  width: 1440px;
}
.collection {
  width: 1440px;
}
.collection div {
  gap: 111px;
}
