.home-page {
  background: #f9f8fe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p {
  color: #c92071;
  font-size: 14px;
}
.containers {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 100px;
  flex-direction: row;
}
.img-oferta img {
  width: 800px;
  height: 400px;
}
.oferta-especial {
  /* border: solid 1px red; */
  width: 589px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.oferta-especial h1 {
  font-size: 48px;
}
.p-desc {
  color: #474747;
  font-size: 16px;
}
.oferta-especial button {
  background-color: #c92071;
  width: 200px;
  height: 40px;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  transition: 1s;
}
.oferta-especial button:hover {
  background-color: #991956;
}
.promotions {
  align-items: center;
  justify-content: center;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}
.promotions span {
  margin-top: 10px;
}
.category-icon {
  width: 104px;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.bcg {
  width: 104px;
  height: 104px;
  background-color: #ffffff;
  border-radius: 100%;
}
.img-category {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 104px;
  display: flex;
  border-radius: 100%;
  opacity: 0.5;
  cursor: pointer;
  transition: 1s;
}
.img-category:hover {
  transform: scale(1.05);
  opacity: 1;
}
.product-container {
  display: flex;
  width: 1440px;
  margin-bottom: 20px;
}
/* Se o container dos cards for .product-list dentro de .collections */
.collections .product-list {
  display: flex;
  gap: 100px; /* Espaçamento de 20px entre os itens */
  flex-wrap: wrap; /* Se quiser quebrar linha, caso os itens não caibam */
  justify-content: center;
}
